* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

/* landing pagina */
main > div:first-of-type {
	background: linear-gradient(0deg, rgba(255, 195, 160, 1) 0%, rgba(255, 175, 189, 1) 100%);
	margin: 0 0 5vw;
	display: flex;
	justify-content: center;
	border-radius: 0 0 7.5vw 7.5vw;
	align-items: center;
}

/*  header  */
main > div:first-of-type {
	display: block;
	color: white;
	align-items: center;
	text-align: center;
}

main > div:first-of-type h1,
main > div:nth-of-type(2) h1 {
	font-size: 11vw;
	color: white;
	padding-top: 2vw;
	font-weight: 300;
}

main > div:nth-of-type(2) {
	height: 100vh;
}

#resultaten {
	height: 100vh;
}

main > div:first-of-type > div:nth-of-type(2),
main > div:first-of-type > div:nth-of-type(1) {
	color: white;
	position: absolute;
	bottom: 0;
	font-size: 15vw;
}

main > div:first-of-type > div:nth-of-type(1) {
	transform: translateY(-175%);
	font-weight: 100;
	font-size: 5vw;
}
main > div:first-of-type > div:nth-of-type(2) {
	/* transform: rotate(180deg); */
	font-weight: 300;
}

a {
	text-decoration: none;
	color: white;
}

/* QR code scanner */

main > div:nth-of-type(2) > div:nth-of-type(1) {
	display: flex;
	justify-content: center;
	height: 40vh;
	position: relative;
}

video {
	width: 85vw;
	height: 31.5vh;
	object-fit: cover;
	margin-top: 7.5vw;
}

button > img {
	width: 12vw;
	padding-right: 2.5vw;
}

/* camera kader */
main > div:nth-of-type(2) > div:nth-of-type(1) div {
	width: 7vw;
	height: 7vw;
	margin: 4vw;
	border: solid 1vw rgba(255, 195, 160, 1);
}

main > div:nth-of-type(2) > div:nth-of-type(1) div:nth-of-type(1) {
	border-bottom: none;
	border-right: none;
	position: absolute;
	left: 0;
}

main > div:nth-of-type(2) > div:nth-of-type(1) div:nth-of-type(2) {
	border-bottom: none;
	border-left: none;
	position: absolute;
	right: 0;
}

main > div:nth-of-type(2) > div:nth-of-type(1) div:nth-of-type(3) {
	border-top: none;
	border-right: none;
	position: absolute;
	left: 0;
	bottom: 0;
}

main > div:nth-of-type(2) > div:nth-of-type(1) div:nth-of-type(4) {
	border-top: none;
	border-left: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

main > div:nth-of-type(2) > div:nth-of-type(2) button {
	background: linear-gradient(0deg, rgba(255, 195, 160, 1) 0%, rgba(255, 175, 189, 1) 100%);
	box-shadow: 1.75vw 2vw rgba(0, 0, 0, 0.1);
	color: white;
	border-style: none;
	padding: 5vw 10vw;
	width: 60vw;
	font-size: 10vw;
	border-radius: 10vw;
	display: flex;
	font-weight: lighter;
}

main > div:nth-of-type(2) > div:nth-of-type(2) {
	display: flex;
	justify-content: center;
}

main > div:nth-of-type(2) > div:nth-of-type(3) {
	margin-top: 12vw;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main > div:nth-of-type(2) > div:last-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

main > div:nth-of-type(2) > div:nth-of-type(3) h2 {
	font-weight: 300;
	/* padding: 2vw 0; */
}

button:disabled {
	opacity: 50%;
}

main > div:last-of-type > div {
	display: block;
	color: black;
	margin: 0 2vw;
}

main > div:last-of-type > div > div:first-of-type,
main > div:last-of-type > div > div:last-of-type {
	text-align: center;
}

main > div:last-of-type > div > div:last-of-type {
	margin: 5vw 0;
	display: flex;
	justify-content: center;
}

main > div:last-of-type > div a {
	background: linear-gradient(0deg, rgba(255, 195, 160, 1) 0%, rgba(255, 175, 189, 1) 100%);
	box-shadow: 1.75vw 2vw rgba(0, 0, 0, 0.1);
	color: white;
	border-style: none;
	padding: 5vw 10vw;
	font-size: 10vw;
	border-radius: 10vw;
	font-weight: 300;
	margin: 5vw;
}

main > div:last-of-type > div h2 {
	font-weight: 600;
}

main > div:last-of-type > div h3 {
	font-weight: 400;
	margin: 3vw 0;
}

main > div:last-of-type div img {
	width: 90vw;
	height: 40vh;
	padding: 5vw 0;
	border-radius: none;
}

main > div:first-of-type h3 {
	font-weight: 200;
	padding: 3vw;
}

ul {
	list-style: none;
	text-align: left;
	font-weight: 100;
	margin: 0 5vw;
}
